{% extends "base.html" %}
{% block title %}Home page{% endblock %}

{% block content %}

    <p>{{ message }}</p>

    <center>
        <form method="POST" action="{{ url_for('add_url') }}">
            <input type="text" name="url" placeholder="Enter your long url"><br>
            <input type="submit" value="Shorten">
        </form>
    </center>

    <ul>
        {% for url in urls %}
            <li>{{ url[1] }} : {{ url[2] }}</li>
        {% endfor %}
    </ul>

    <h4>{{ short_code  }}</h4>

{% endblock %}