{% extends "base.html" %}
{% block title %}Home page{% endblock %}

{% block content %}

    <div class="container">
        <form method="POST" class="mt-3" action="{{ url_for('add_url') }}" >
            <input type="text" name="url" placeholder="Enter your long url" class="form-control"><br>
            <input class="btn btn-success mt-2" type="submit" value="Shorten">
        </form>

        <div id="shortened_url">

            <h4>Your shortened url: </h4>
            <p id="message">{{ message }}</p>
        
        </div>

    </div>

{% endblock %}

{% block scripts %}

<script>

    document.addEventListener("DOMContentLoaded", function() {
        let messagebox = document.getElementById("message");
        let shortenedUrlBox = document.getElementById("shortened_url");

        if (messagebox.textContent.trim() !== "") {
            shortenedUrlBox.style.display = "block"
        }
    });

</script>

{% endblock %}